## Catagorical input and Catgorical output
### here we will use Chi-square test from sklear which Will calculate Chi-square between each feature and the target and select the desired number of features with the best Chi-square scores

**following conditions have to be met: the variables have to be categorical, sampled independently and values should have an expected frequency greater than 5**

In [6]:
import pandas as pd
pd.set_option('display.max_columns',None)
from sklearn.feature_selection import chi2,SelectKBest
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv('../../Exlr_Assignments/Datasets/Zoo.csv')
data.head()

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [8]:
del data['animal name']

In [9]:
data = pd.get_dummies(data=data,columns=['legs'],drop_first=True)
data.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,tail,domestic,catsize,type,legs_2,legs_4,legs_5,legs_6,legs_8
0,1,0,0,1,0,0,1,1,1,1,0,0,0,0,1,1,0,1,0,0,0
1,1,0,0,1,0,0,0,1,1,1,0,0,1,0,1,1,0,1,0,0,0
2,0,0,1,0,0,1,1,1,1,0,0,1,1,0,0,4,0,0,0,0,0
3,1,0,0,1,0,0,1,1,1,1,0,0,0,0,1,1,0,1,0,0,0
4,1,0,0,1,0,0,1,1,1,1,0,0,1,0,1,1,0,1,0,0,0

In [11]:
data.shape

(101, 21)

In [10]:
X = data.drop(labels='type',axis=1)
y = data['type']

In [18]:


chi2_features = SelectKBest(chi2,k=15).fit(X,y)
print(X.columns)
print(X.shape)
print(X.columns[chi2_features.get_support()])
X_selected = chi2_features.transform(X)
print(X_selected.shape)

Index(['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator',
       'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'tail',
       'domestic', 'catsize', 'legs_2', 'legs_4', 'legs_5', 'legs_6',
       'legs_8'],
      dtype='object')
(101, 20)
Index(['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'toothed',
       'backbone', 'venomous', 'fins', 'catsize', 'legs_2', 'legs_4', 'legs_6',
       'legs_8'],
      dtype='object')
(101, 15)